<p><b>And the winner is: <%= @winner.handle %>!</b></p>

<p><%= @loser.handle %> played a good game of <%= @game_type.game_type_name %>. 
How about a rematch? Just log in at <a href="<%= t(:domain) %>">Your-Turn</a>
and play again, or select one of our other exciting games.</p>

<p>The Your-Turn team.</p>
